<% if user_signed_in? %>
<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Submit Link", new_link_path %></li>
	<li><%= link_to "Account", edit_user_registration_path %></li>
	<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
</ul>
<% else %>
 <%= redirect_to '/welcome_page/index' %>
<% end %>